<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="./styles.css" >
  <link rel="stylesheet" type="text/css" href="theme.css" > <!--"comment" -->
  <title>FizzBuzz App</title>
</head>
<body>
  <h1><span class="blink">FizzBuzz App</span></h1>
  <%= yield %>
</body>
</html>
