<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="theme.css" >
    <title>FizzBuzz App</title>
  </head>
  <body>
    <h1>FizzBuzz App</h1>
    <%= yield %>
  </body>
</html>
