<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="assets/add.css">
    <title>FizzBuzz App</title>
  </head>
  <body>
    <h1>FizzBuzz App</h1>
    <%= yield %>
  </body>
</html>